@keyframes highlight {
    0% {
        background-color: #007bff;
    }

    50% {
        background-color: #4da1ff;
    }

    100% {
        background-color: #fff;
    }
}

.highlight-item {
    animation: highlight 1s ease;
}

.input-width {
    width: 25% !important;
}

/* For responsive behavior */

@media (max-width: 590px) {
    .input-width {
        width: 100% !important;
    }
}

@media(min-width:591px) and (max-width:920px) {
    .input-width {
        width: 50% !important;
    }
}